@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/**{
  transition: 0.4s all;
}*/

body {
  background-color: white;
  /*cursor: url(images/brain/brain_1.jpg), pointer;*/

}
body:hover {
  cursor: all-scroll;
}

#sizeblock {display: none;}

#index { display: none;}

.order {
  position: fixed;
  z-index:5000; 
  right: 5%;
  top:7%;
/*  z-index: -10000
*/
}

.images { 
  position: relative; 
  display: none; 
  padding: 5px;
}

img {
/*    padding: 10px;
*/    
    width:300px;
/*    border: 1px black solid;
*//*    box-shadow: 5px 10px 18px #000000;
*/}


/*#intro1, #intro2, #intro3,
#death1, #death2,
#intimacy1,
#brain1, #brain2, #brain3 {
  position: relative;
}*/



/*#utrecht1,
#utrecht2,
#utrecht3,
#utrecht4 { }*/

.header{  
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 10px;
   color: black;
   position: absolute;
   left:5px; 
   position: fixed;
 }

 .footnote {
/*   background-color: white;
*/   
   /*font-family: 'Arial';
   font-weight: normal;
   font-size: 20px;
   color: black;
   display: block;*/

 }

.footnote:hover {
/*  background-color: yellow;
*/  
  font-style:italic;
  cursor: pointer;
}

.ref {
/*   background-color: white;
   font-family: 'Arial';
   font-weight: normal;*/
   font-size: 10px;
   color: blue;
/*   position: absolute;
   display: block;*/
   font-style: italic;
/*   top: 200px;
   border: solid black 1px;
   width:250px;
   z-index: 100000;*/

 }


/*#r1 {left: 5px;}
#r2 {left: 205px;}
#r3 {left: 405px;}
#r4 {left: 605px;}
*/

#hello {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 50000000;
}

/*main containers*/
.first, .second, .third, .fourth, .fifth, .sixth, .seventh {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  float:left; 
  /*padding:5px;*/
  /*background-color: blue;*/
}

.first:hover, .second:hover, .third:hover, .fourth:hover, .fifth:hover, .sixth:hover, .seventh:hover {
  box-shadow: 5px 10px 50px #000000;
}

.first:hover, .second:hover, .seventh:hover {cursor: pointer}

.first   { top:50px;   left: 5px;    height:500px;   width:700px;  }
.second  { top:600px;  left: 5px;    height:500px;   width:700px; }
.third   { top:50px;   left: 920px;  height:1600px;  width:1650px; }
.fourth  { top:50px;   left: 2800px; height:2400px;  width:1700px; }
.fifth   { top:50px;   left: 4700px; height:3530px;  width:1650px; }
.sixth   { top:1750px; left: 900px;  height:1600px;  width:1550px; }
.seventh { top:1200px; left: 5px;    height:500px;   width:700px;}


/*containers for scroll*/
.abstract, .intro, .society, .influence, .digital, .gdas, .conclusion { 
  height: 270px;
  padding: 15px;
  overflow: auto;
  background: white;
  font-family: 'Arial';
  font-weight: normal; 
  color: white;
  font-size: 18px;
  text-align: left;
  display: block;
  overflow: hidden;
}

.abstract   { height: 470px; /*z-index: 10000000000*/}
.intro      { height: 470px;}
.society    { height: 1570px;}
.influence  { height: 2370px;}
.digital    { height: 3500px;}
.gdas       { height: 1600px;}
.conclusion { height: 470px;}



/*titles_1*/
.title {  
   position: absolute;
   padding: 10px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 75px;
   color: black;
   display: block;
   z-index: 3000;
}

/*titles_2*/
.title2 {
   position: absolute;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 50px;
   color: black;
   display: block;
   z-index: 3000;
/*   overflow: hidden;
*/
}
/*titles_3*/
.subtitle {  
   position: absolute;
   top:0%;
   left:0%;
   max-height: 100px;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 40px;
   color: black;
   display: block;
   z-index: 3000;
/*   overflow: hidden;
*/}

#right{
/*  background-color: yellow;
*/  position: absolute;
  width: 100%;
  height: auto;
  top:0px;
  left:0px;
}


/*boxes*/
.societyone, .influenceone, .influencetwo, .digitalone, .digitaltwo, .gdasone {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  height: 350px;
  width: 700px;
  padding: 15px;
  overflow: auto;
  background: white;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: normal; 
  color: white;
  display: block;
  text-align: left;
  overflow: hidden;
}

.text {width:570px; padding: 25px; line-height: 130%;}

.societyone:hover, .influenceone:hover, .influencetwo:hover, 
.digitalone:hover, .digitaltwo:hover, .gdasone:hover { 
  box-shadow: 5px 10px 18px #000000;
  cursor:pointer;
}

#societyoneone    {top:300px;}
#societyonetwo    {top:750px;}
#societyonethree  {top:1200px;}
#societyonefour   {top:300px; left:900px;}
#societyonefive   {top:750px; left:900px;}

#influenceoneone    {top:300px; height: 1840px; width: 750px;}
#influenceonetwo    {top:300px; height: 920px; width: 750px; left:880px;}

#influencetwoone    {top:100px;}
#influencetwotwo    {top:550px;}
#influencetwotwo:hover {cursor:pointer;}
#influencetwothree  {top:1000px;}
#influencetwofour   {top:1450px;}
#influencetwofour:hover {cursor:pointer;}
#influencetwofive   {top:100px;}
#influencetwosix    {top:550px;}


#digitaloneone    {top:300px;}
#digitalonetwo    {top:750px;}
#digitalonethree  {top:300px; left:880px;}
#digitalonefour   {top:750px; left:880px;}

#digitalonefive   {top:1200px; height: 2270px; width: 1570px;}

#digitaltwoone    {top:100px;}
#digitaltwotwo    {top:550px;}
#digitaltwothree  {top:1000px;}
#digitaltwofour   {top:1450px;}
#digitaltwofive   {top:1900px;}
#digitaltwosix    {top:100px;  left:840px;}
#digitaltwoseven  {top:550px;  left:840px;}
#digitaltwoeight  {top:1000px; left:840px;}
#digitaltwonine   {top:1450px; left:840px;}
#digitaltwoten    {top:1900px; left:840px;}

#gdasoneone    {top:300px;}
#gdasonetwo    {top:750px;}
#gdasonethree  {top:1200px;}
#gdasonefour   {top:300px; left:790px;}
#gdasonefive   {top:750px; left:790px;}
#gdasonesix    {top:1200px; left:790px;}



#container2{
  transform:scale(0.07);
/*  background-color: red;
*/  margin-left: -380px;
  display:block;
    pointer-events:none;

}
#container{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.containerofcontainer{
/*  width:440px;
  height: 240px;*/
  width:455px;
  height: 25px;
  overflow: scroll; 
  position: absolute;
  right: 1%;
  top: 1%;
  z-index: 1000;
  background-color: yellow;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #000000;
}

.track {
  /*background-color: blue;*/
  width:200px;
  height: 200px;
  position: absolute;
  display: none;
  z-index:200;
}

.showtrack {
  display: block;
}

/*canvas {
      position: absolute;
      border: #333 10px solid;
      z-index: 1000;
    }*/

.open {
  height: 275px;
}

#hellomap {
  display: block;
  color: yellow;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  -webkit-text-stroke: 1px black;

}

#hellomap:hover {cursor: pointer}

p {
  text-indent: 30px;
  margin: 0;
}

sup {font-size: 10px;}

/*.dohuyandra {
  position: absolute;
  border: solid 2px red;
  background-color: red;
  width:200px;
  height:200px;
  z-index: 300000000;
}*/


/*.subtitleindent{
  text-indent: 75px;
  margin: 0;
}*/

/*.viewport { background-color: blue; width: 300px; height: 200px; position: absolute;}
*/