@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
  transition: 0.4s all;
}

body {
  background-color: white;
}
body:hover {
  cursor: all-scroll;
}

#sizeblock {display: none;}

#index { display: none;}

img { width: 240px; }


.images { 
  border: 2px red solid;
  z-index:5000; 
  position: fixed; 
  display: none; 
  padding: 0;
  left: 900px;
  /*box-shadow: 5px 10px 18px #000000;*/
}

#deathone { top:10px; }
#deathtwo { top:200px; }

/*#utrecht1,
#utrecht2,
#utrecht3,
#utrecht4 { }*/

.header{  
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 10px;
   color: black;
   position: absolute;
   left:5px; 
   position: fixed;
 }

 .footnote {
   background-color: white;
   font-family: 'Arial';
   font-weight: normal;
   font-size: 20px;
   color: white;
 }
.footnote:hover {
  font-style:italic;
  cursor: pointer;
}

.ref {
   background-color: white;
   font-family: 'Arial';
   font-weight: normal;
   font-size: 13px;
   color: blue;
   position: fixed;
   display: block;
   font-style: italic;
   top: 2500px;
   border: solid black 1px;
   width:250px;
 }

#r1 {left: 5px;}
#r2 {left: 205px;}
#r3 {left: 405px;}
#r4 {left: 605px;}


#hello {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 50000000;
}

/*main containers*/
.first, .second, .third, .fourth, .fifth, .sixth, .seventh {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  float:left; 
  /*padding:5px;*/
  /*background-color: blue;*/
}

.first:hover, .second:hover, .third:hover, .fourth:hover, .fifth:hover, .sixth:hover, .seventh:hover {
  box-shadow: 5px 10px 18px #000000;
}
.first   { top:50px;   left: 5px;    height:500px;   width:700px; }
.second  { top:600px;  left: 5px;    height:500px;   width:700px; }
.third   { top:50px;   left: 900px;  height:1600px;  width:1550px; }
.fourth  { top:50px;   left: 2650px; height:2400px;  width:1700px; }
.fifth   { top:50px;   left: 4550px; height:3530px;  width:1650px; }
.sixth   { top:1750px; left: 900px;  height:1500px;  width:1550px; }
.seventh { top:1200px; left: 5px;    height:500px;   width:700px;}

.second:hover {
  cursor: pointer;
}

/*containers for scroll*/
.abstract, .intro, .society, .influence, .digital, .gdas, .conclusion { 
  height: 270px;
  padding: 15px;
  overflow: auto;
  background: white;
  font-family: 'Arial';
  font-weight: normal; 
  color: white;
  font-size: 20px;
  text-align: left;
  display: block;
}

.abstract   { height: 470px; /*z-index: 10000000000*/}
.intro      { height: 470px;}
.society    { height: 1570px;}
.influence  { height: 2370px;}
.digital    { height: 3500px;}
.gdas       { height: 520px;}
.conclusion { height: 470px;}



/*titles_1*/
.title {  
   position: absolute;
   padding: 10px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 75px;
   color: black;
   display: block;
   z-index: 3000;
}

/*titles_2*/
.title2 {
   position: absolute;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 50px;
   color: black;
   display: block;
   z-index: 3000;
}
/*titles_3*/
.subtitle {  
   position: absolute;
   top:0%;
   left:0%;
   max-height: 100px;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 40px;
   color: black;
   display: block;
   z-index: 3000;
   /*overflow: hidden;*/
}

#right{
  background-color: yellow;
  /*pointer-events:none;*/
  position: absolute;
  width: 100%;
  height: auto;
  top:0px;
  left:0px;
}


/*boxes*/
.societyone, .influenceone, .influencetwo, .digitalone, .digitaltwo, .gdasone {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  height: 350px;
  width: 700px;
  padding: 15px;
  overflow: auto;
  background: white;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: normal; 
  color: white;
  display:block;
  text-align: left;
}

.societyone:hover, .influenceone:hover, .influencetwo:hover, 
.digitalone:hover, .digitaltwo:hover, .gdasone:hover { box-shadow: 5px 10px 18px #000000;}


#societyoneone    {top:300px;}
#societyonetwo    {top:750px;}
#societyonethree  {top:1200px;}
#societyonefour   {top:300px; left:900px;}
#societyonefive   {top:750px; left:900px;}
#societyonefive:hover {cursor:pointer;}


#influenceoneone    {top:500px; height: 1840px; width: 750px;}
#influenceonetwo    {top:500px; height: 920px; width: 750px; left:880px;}

#influencetwoone    {top:100px;}
#influencetwotwo    {top:550px;}
#influencetwothree  {top:1000px;}
#influencetwofour   {top:1450px;}
#influencetwofive   {top:100px;}
#influencetwosix    {top:550px;}


#digitaloneone    {top:300px;}
#digitalonetwo    {top:750px;}
#digitalonethree  {top:300px; left:880px;}
#digitalonefour   {top:750px; left:880px;}

#digitalonefive   {top:1200px; height: 2270px; width: 1570px;}

#digitaltwoone    {top:100px;}
#digitaltwotwo    {top:550px;}
#digitaltwothree  {top:1000px;}
#digitaltwofour   {top:1450px;}
#digitaltwofive   {top:1900px;}
#digitaltwosix    {top:100px;  left:840px;}
#digitaltwoseven  {top:550px;  left:840px;}
#digitaltwoeight  {top:1000px; left:840px;}
#digitaltwonine   {top:1450px; left:840px;}
#digitaltwoten    {top:1900px; left:840px;}

#gdasoneone    {top:300px;}
#gdasonetwo    {top:750px;}
#gdasonethree  {top:1200px;}
#gdasonefour   {top:300px; left:790px;}
#gdasonefive   {top:750px; left:790px;}
#gdasonesix    {top:1200px; left:790px;}



#container2{
  transform:scale(0.07);
  background-color: red;
  margin-left: -380px;
}
#container{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#containerofcontainer{
/*  width:440px;
  height: 240px;*/
  width:440px;
  height: 25px;
  overflow: scroll; 
  position: absolute;
  left: 65%;
  top: 1%;
  z-index: 1000;
  background-color: black;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #000000;

}

#hellomap {
  display: block;
  color: blue;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

p {
  text-indent: 30px;
  margin: 0;
}

/*.subtitleindent{
  text-indent: 75px;
  margin: 0;
}*/
