@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
  transition: 0.4s all;
}

body {
  background-color: white;
}

.track {display: none}
/*#sizeblock {
  position: absolute;
  background-color: white;
  display: block;
  width: 1200px;
  height: 2000px;
}*/

/*.order {
  position: fixed;
  z-index:5000; 
  right: 5%;
  top:7%;
}*/

/*.images { 
  background-color:black;
  padding: 20px;
}*/

img {
    display: block;
    position: absolute;
    border: 1px black solid;
    width: 400px;
    /*right:10px;
    top: 40px;*/
    /*z-index:-30000;*/
}

#photo1 {right:30px; top:3200px; width: 600px; height:auto;}
#photo2 {right:30px; top:3650px; width: 600px; height:auto;}
#photo3 {right:30px; top:4100px; width: 600px; height:auto;}

#photo4 {right:30px; top:6600px; width: 350px; height:auto;}
#photo5 {right:30px; top:7100px; width: 350px; height:auto;}

#photo6 {right:30px; top:8000px; width: 400px; height:auto;}

#photo7 {right:30px; top:8700px; width: 400px; height:auto;}
#photo8 {right:30px; top:11000px; width: 300px; height:auto;}
#photo9 {right:30px; top:11500px; width: 300px; height:auto;}
#photo10 {right:30px; top:11500px; width: 300px; height:auto;}

#photo11 {right:30px; top:17500px; width: 400px; height:auto;}
#photo12 {right:30px; top:18000px; width: 400px; height:auto;}
#photo13 {right:30px; top:18500px; width: 400px; height:auto;}
#photo14 {right:30px; top:19000px; width: 400px; height:auto;}





/*.index {
  position: relative;
  border: solid black 1px;
  padding: 30px;
  background: white;
  font-family: 'Arial';
  font-weight: normal; 
  color: black;
  font-size: 20px;
  text-align: left;
  display: block;
}*/

p {
  text-indent: 30px;
  margin: 0;
}

/*.page {
  font-family: Arial;
  font-size: 30px;
  left:1100px;
  position: absolute;
  display: block;
}
#p1 {top:1200px;}*/


#deathone { top:7%;  left:70%;}
#deathtwo { top:60%; left:70%;}


.header{  
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 40px;
   color: black;
   position: relative;
   left:5px; 
 }

 .footnote {
   background-color: white;
   font-family: 'Arial';
   font-weight: normal;
   font-size: 20px;
   font-style: italic;
   color: black;

 }
/*.footnote:hover {
  font-style:italic;
  cursor: pointer;
}*/

/*.ref {
font-family: 'Arial';
   font-weight: normal;
   font-size: 13px;
   color: black;
   position: absolute;
   display: block;
   font-style: italic;
width: 250px;
   left:800px;
z-index: 1000;
}*/

.ref {
   font-family: 'Arial';
   font-weight: normal;
   font-size: 13px;
   color: black;
   text-indent: none;
/*   position: absolute;
   display: block;*/
   font-style: italic;
   line-height: 18px;
/*   top: 200px;
   border: solid black 1px;
   width:250px;
   z-index: 100000;*/

 }


#r1 {top: 2610px;}
#r2 {top: 3200px;}
#r3 {top: 3320px;}
/*#r4 {left: 605px;}*/


#hello {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 50000000;
}

/*main containers*/
div.first, div.second, div.third, div.fourth, div.fifth, div.sixth, div.seventh {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
  float:left; 
  margin: 20px;

  display: inline-block;

  page-break-after: always;

  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;
  
/*  box-shadow: 5px 10px 10px #000000;
*/
/*  page-break-after: always;
*/}



.first {margin-top:25px;}
/*.second {page-break-after: always;}
.third  {page-break-after: always;}
.fourth {page-break-after: always;}
.fifth  {page-break-after: always;}
.sixth  {page-break-after: always;}*/
/*.second, .third, .fourth, .fifth, .sixth, .seventh {
  margin: 20px;
}*/


/*containers for scroll*/
.abstract, .intro, .society, .influence, .digital, .gdas, .conclusion {
  padding: 20px;
  background-color: white;
  font-family: 'Arial';
  font-weight: normal; 
  color: black;
  font-size: 20px;
  text-align: left;
  display: block;

  /*page-break-inside: avoid;
  -webkit-region-break-inside: avoid;*/
/*  page-break-after: always;
*/
}

.abstract   { width: 600px;}
.intro      { width: 550px;}
.society    { width: 550px;}
.influence  { width: 550px;}
.digital    { width: 550px;}
.gdas       { width: 550px;}
.conclusion { width: 700px;}



/*titles_1*/
.title {  
   position: relative;
   /*margin: 20px;*/
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 30px;
   color: black;
   display: block;
   z-index: 3000;
   padding: 5px;

/*  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/
}
/*titles_2*/
.title2 {
   position: relative;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 25px;
   color: black;
   display: block;
   z-index: 3000;
}
/*titles_3*/
.subtitle {  
   position: relative;
   margin: 20px;
   font-family: 'Arial';
   font-weight: normal; 
   font-size: 25px;
   color: black;
   display: block;
   z-index: 3000;
}


/*boxes*/
.societyone, .influenceone, .influencetwo, .digitalone, .digitaltwo, .gdasone {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
/*  height: 350px;
*/  
/*  width: 1200px;
*/  padding: 30px;
/*  overflow: auto;
*/  background: white;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: normal; 
  color: black;
  display:block;
  text-align: left;
  margin: 10px;

/*  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;*/
}


/*.societyone:hover, .influenceone:hover, .influencetwo:hover, 
.digitalone:hover, .digitaltwo:hover, .gdasone:hover { box-shadow: 5px 10px 18px #000000;}*/


#societyoneone, 
#societyonetwo, 
#societyonethree, 
#societyonefour,
#societyonefive { position: relative; margin:10px; padding: 30px; width: 600px;
                  page-break-inside: avoid;
                  -webkit-region-break-inside: avoid; /*width: 680px;*/}    

#influenceoneone,
#influenceonetwo { position: relative; margin:10px; padding: 30px; width: 600px; 
                  page-break-inside: avoid;
                  -webkit-region-break-inside: avoid;/*width: 680px;*/}    


#influencetwoone,
#influencetwotwo,
#influencetwothree,
#influencetwofour,
#influencetwofive,
#influencetwosix { position: relative; margin:10px; padding: 30px; width: 650px; 
                    page-break-inside: avoid;
                  -webkit-region-break-inside: avoid;/*width: 720px;*/}  

/*#influencetwofour { page-break-after: always; page-break-inside: avoid; -webkit-region-break-inside: avoid;}  
*/
#digitaloneone,
#digitalonetwo,    
#digitalonethree,  
#digitalonefour,  
#digitalonefive { position: relative; margin:10px; padding: 30px; width: 600px; 
                    page-break-inside: avoid;
                  -webkit-region-break-inside: avoid;/*width: 680px;*/}

/*#digitalonefour {page-break-inside: avoid; page-break-after: always; -webkit-region-break-inside: avoid;}  
*/

#digitaltwoone,    
#digitaltwotwo,    
#digitaltwothree,  
#digitaltwofour,   
#digitaltwofive,   
#digitaltwosix,    
#digitaltwoseven,  
#digitaltwoeight,  
#digitaltwonine,   
#digitaltwoten { position: relative; margin:10px; padding: 30px; width: 650px; 
                  page-break-inside: avoid;
                  -webkit-region-break-inside: avoid;/*width: 720px;*/}   

/*#digitaltwoone {background-color: blue;}
*/
#gdasoneone,
#gdasonetwo,    
#gdasonethree,  
#gdasonefour,  
#gdasonefive,
#gdasonesix { position: relative; margin:10px; padding: 30px; width: 600px; 
                page-break-inside: avoid;
                  -webkit-region-break-inside: avoid;/*width: 720px;*/} 

#hellomap {
  display: none;
  color: blue;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

/*#pagebreak {
  float: none !important; position: static !important; display: inline-block; 
  page-break-after: always;}*/


.buttonNext, .route, .header {display:none;}







/*index*/

/*main containers*/
.index {display: block; /*top:10px;*/}

.headeri{  
   font-family: 'Arial';
   font-weight: bold; 
   font-size: 20px;
   color: black;
   position: relative;
   left:5px; 
   /*top:1000px;
   z-index: 5000;*/

/*-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
/*transform: rotate(-90deg);
*/


}

.index1, .index2, .index3, .index4, .index5, .index6, .index7 {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
  float:left; 
  box-shadow: 5px 10px 18px #000000;
  width:610px;

}


/*containers for scroll*/
.abstracti, .introi, .societyi, .influencei, .digitali, .gdasi, .conclusioni {
  padding: 5px;
  background: white;
  font-family: 'Arial';
  font-weight: normal; 
  color: black;
/*  font-size: 20px;*/  
  text-align: left;
  display: block;
}

.abstracti   { width: 600px;}
.introi      { width: 600px;}
.societyi    { width: 600px;}
.influencei  { width: 600px;}
.digitali    { width: 600px;}
.gdasi       { width: 600px;}
.conclusioni { width: 600px;}


.titlei {  
   position: relative;
/*   margin: 10px;
*/   font-family: 'Arial';
   font-weight: normal; 
   font-size: 16px;
   color: black;
   display: block;
   z-index: 3000;
   padding: 2px;

}
.title2i {
   position: relative;
/*   margin: 20px;
*/   font-family: 'Arial';
   font-weight: normal; 
   font-size: 12px;
   color: black;
   display: block;
   z-index: 3000;
   padding: 2px;
}
.subtitlei {  
   position: relative;
/*   margin: 10px;
*/   font-family: 'Arial';
   font-weight: normal; 
   font-size: 10px;
   color: black;
   display: block;
   z-index: 3000;
}


/*boxes*/
.societyonei, .influenceonei, .influencetwoi, .digitalonei, .digitaltwoi, .gdasonei, .conclusiononei {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
  padding: 5px;
  background: white;
  font-family: 'Arial';
  font-size: 15px;
  font-weight: normal; 
  color: black;
  display:block;
  text-align: left;
  box-shadow: 5px 10px 10px #000000;
}

#societyoneonei, 
#societyonetwoi, 
#societyonethreei, 
#societyonefouri,
#societyonefivei { position: relative; width: 650px;}    

#influenceoneonei,
#influenceonetwoi { position: relative; width: 650px;}    

#influencetwoonei,
#influencetwotwoi,  
#influencetwothreei,
#influencetwofouri,
#influencetwofivei,
#influencetwosixi { position: relative; width: 700px;}  


#digitaloneonei,
#digitalonetwoi,    
#digitalonethreei,  
#digitalonefouri,  
#digitalonefivei { position: relative; width: 650px;}

#digitaltwoonei,    
#digitaltwotwoi,    
#digitaltwothreei,  
#digitaltwofouri,   
#digitaltwofivei,   
#digitaltwosixi,    
#digitaltwoseveni,  
#digitaltwoeighti,  
#digitaltwoninei,   
#digitaltwoteni { position: relative; width: 700px;}   

#gdasoneonei,
#gdasonetwoi,    
#gdasonethreei,  
#gdasonefouri,  
#gdasonefivei,
#gdasonesixi { position: relative; width: 700px;} 

#conclusiononei,
#conclusiontwoi,    
#conclusionthreei { position: relative; width: 700px;} 

/*
#sizeblock2 {
  position: absolute;
  background-color: white;
  display: block;
  width: 1200px;
  height: 100px;
}*/

#container2 {display:none;}




