h1 { 
   font-family: 'ArchivoBlackRegular'; 
   font-weight: normal; 
   font-style: normal; 
}

#question { 
   font-family: 'ArchivoNarrowRegular'; 
   font-weight: normal; 
   font-style: normal; 
   width: 40%;
   height:auto;
   font-size: 25px;
}

#answer { 
   font-family: 'RisingSunRegular'; 
   font-weight: normal; 
   font-style: normal; 
   width: 40%;
   height:auto;
   font-size: 30px;
}

div { display:block;}

.text {
	border-style:solid;
	border-width:1px;
	border-color: black;
	background-color: red;
	position: relative;
	padding:20px;
}
